# dependencies
node_modules
package-lock.json

# logs
npm-debug.log
yarn-error.log

# other
.nuxt
dist
.vscode
.idea
.eslintrc

# docs
/docs

# @nuxtjs/pwa
sw.*

.env

# Optional eslint cache
.eslintcache

TODO*

config

pm2.json



